@model Curso
@{
    ViewData["Title"] = "Remover Curso";
}

<div>
    <div>
        <h1 class="display-4">Excluir Curso</h1>
        <hr>
    </div>
    <div class="row mt-2">
        <div class="col">
            <p class="h4 bg-light"><strong>       Id: </strong>@Model.Id</p>
            <p class="h4 bg-light"><strong>Descrição: </strong>@Model.Descricao</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <a role="button" class="btn btn-danger" asp-route-id="@Model.Id" asp-controller="Curso" asp-action="ExcluirCurso"><i class="far fa-thumbs-up"></i> Confirma</a>
            <a role="button" class="btn btn-primary" asp-controller="Curso" asp-action="Index"><i class="fas fa-times"></i> Cancela</a>
        </div>
    </div>
</div>
