/*
  dark: #012138;
  primary: #008BCC;
  secondary: #6c757d;

*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: underline;
}

.ca-bg-dark {
    background-color: #012138;
}

.ca-bg-primary {
    background-color: #008BCC;
}

.ca-bg-secondary {
    background-color:#6c757d;
}

.ca-btn-dark {
    color: #fff;
    background-color: #012138;
    border-color: #012138;
}

.ca-btn-dark:hover {
    color: #fff;
    background-color: #012138;
    border-color: #012138;
}

.ca-btn-primary {
    color: #fff;
    background-color: #008BCC;
    border-color: #008BCC;
}

.ca-btn-primary:hover {
    color: #fff;
    background-color: #008BCC;
    border-color: #008BCC;
}

.ca-btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.ca-btn-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    padding: 0.375rem 0.75rem;
    font-size: 1.0rem;
    border-radius: 0.2rem;
    color: white;
    background-color: #6c757d;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #6c757d;
}

.menu-cursos ul {
    list-style: none;
}

.menu-cursos img {
    width: 1.5rem;
    height: 1.5rem;
}

.menu-cursos a {
    margin-left: 0.5rem;
}

.lista-aluno img {
    width: 8rem;
    height: 8rem;
}

.turma img {
    width: 8rem;
    height: 8rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Inverte a imagem tirando efeito espelho*/
.video-foto {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-top: 5px;
    border: #696969 1px solid;
}

/* Inverte a imagem tirando efeito espelho */
.canvas-foto {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    border: #696969 1px solid;
}